In [1]:
from pythonopensubtitles.opensubtitles import OpenSubtitles
from pythonopensubtitles.utils import File
import pandas as pd
from tqdm.notebook import tqdm
import time
from datetime import date

In [2]:
df_to_sub = pd.read_csv('df_to_sub.csv', sep=';', index_col='id')
# df_to_sub['imdb_id'] = df_to_sub['imdb_id'].apply(lambda x: x.replace('tt',''))
df_to_sub = df_to_sub.astype({'keywords': 'object','title': 'string','imdb_id': 'int32','keywords_len': 'int32'})
df_to_sub

,keywords,keylist,keywords_len,keylist_nolonely,keylist_fifteen,keywords_len_commons,title,imdb_id
id,,,,,,,,
949,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","['robbery', 'detective', 'bank', 'obsession', ...",25,"['robbery', 'detective', 'bank', 'obsession', ...","['murder', 'suspense', 'detective', 'robbery',...",15,Heat,113277
710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...","['cuba', 'falselyaccused', 'secretidentity', '...",15,"['cuba', 'falselyaccused', 'secretidentity', '...","['cuba', 'falselyaccused', 'secretidentity', '...",15,GoldenEye,113189
4584,"[{'id': 420, 'name': 'bowling'}, {'id': 818, '...","['bowling', 'basedonnovel', 'servant', 'countr...",11,"['bowling', 'basedonnovel', 'servant', 'countr...","['bowling', 'basedonnovel', 'servant', 'countr...",10,Sense and Sensibility,114388
5,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...","['hotel', 'newyearseve', 'witch', 'bet', 'hote...",10,"['hotel', 'newyearseve', 'witch', 'bet', 'hote...","['hotel', 'newyearseve', 'witch', 'bet', 'hote...",10,Four Rooms,113101
8012,"[{'id': 395, 'name': 'gambling'}, {'id': 416, ...","['gambling', 'miami', 'basedonnovel', 'job', '...",18,"['gambling', 'miami', 'basedonnovel', 'job', '...","['murder', 'basedonnovel', 'violence', 'drug',...",15,Get Shorty,113161
...,...,...,...,...,...,...,...,...
36886,"[{'id': 572, 'name': 'sex'}, {'id': 1879, 'nam...","['sex', 'shower', 'blackmail', 'virgin', 'nudi...",11,"['sex', 'shower', 'blackmail', 'virgin', 'nudi...","['sex', 'shower', 'blackmail', 'virgin', 'nudi...",11,Schoolgirl Report Part 4: What Drives Parents ...,69234
104308,"[{'id': 572, 'name': 'sex'}, {'id': 810, 'name...","['sex', 'budapest', 'monster', 'underground', ...",18,"['sex', 'budapest', 'monster', 'underground', ...","['sex', 'budapest', 'monster', 'underground', ...",15,The Spider Labyrinth,95728
43085,"[{'id': 293, 'name': 'female nudity'}, {'id': ...","['femalenudity', 'infection', 'overweightwoman...",19,"['femalenudity', 'infection', 'overweightwoman...","['murder', 'violence', 'femalenudity', 'zombie...",15,Dead and Deader,770739
19307,"[{'id': 65, 'name': 'holiday'}, {'id': 508, 'n...","['holiday', 'nudistcamp', 'camping', 'tent', '...",14,"['holiday', 'nudistcamp', 'camping', 'tent', '...","['holiday', 'nudistcamp', 'camping', 'tent', '...",12,Carry On Camping,64133
434873,"[{'id': 570, 'name': 'rape'}, {'id': 2150, 'na...","['rape', 'cocaine', 'menstruation', 'stripper'...",14,"['rape', 'cocaine', 'menstruation', 'stripper'...","['rape', 'cocaine', 'menstruation', 'stripper'...",14,It Stains the Sands Red,5735280

In [3]:
df_to_sub.sort_values(by='keywords_len_commons')

,keywords,keylist,keywords_len,keylist_nolonely,keylist_fifteen,keywords_len_commons,title,imdb_id
id,,,,,,,,
299551,"[{'id': 1706, 'name': 'experiment'}, {'id': 28...","['experiment', 'psychology', 'government', 'we...",10,"['experiment', 'psychology', 'government', 'we...","['experiment', 'psychology', 'government', 'we...",10,The Atticus Institute,3280916
331190,"[{'id': 1562, 'name': 'hostage'}, {'id': 9672,...","['hostage', 'basedontruestory', 'murder', 'ind...",10,"['hostage', 'basedontruestory', 'murder', 'ind...","['hostage', 'basedontruestory', 'murder', 'ind...",10,Captive,3268668
5491,"[{'id': 818, 'name': 'based on novel'}, {'id':...","['basedonnovel', 'postapocalyptic', 'dystopia'...",10,"['basedonnovel', 'postapocalyptic', 'dystopia'...","['basedonnovel', 'postapocalyptic', 'dystopia'...",10,Battlefield Earth,185183
10198,"[{'id': 818, 'name': 'based on novel'}, {'id':...","['basedonnovel', 'voodoo', 'kiss', 'princess',...",12,"['basedonnovel', 'voodoo', 'kiss', 'princess',...","['basedonnovel', 'voodoo', 'kiss', 'princess',...",10,The Princess and the Frog,780521
10569,"[{'id': 974, 'name': 'bank'}, {'id': 1946, 'na...","['bank', 'restaurant', 'roleofwomen', 'bankrob...",11,"['bank', 'restaurant', 'roleofwomen', 'bankrob...","['bank', 'restaurant', 'roleofwomen', 'bankrob...",10,Small Time Crooks,196216
...,...,...,...,...,...,...,...,...
22033,"[{'id': 293, 'name': 'female nudity'}, {'id': ...","['femalenudity', 'rape', 'witch', 'nudity', 's...",16,"['femalenudity', 'rape', 'witch', 'nudity', 's...","['independentfilm', 'murder', 'nudity', 'reven...",15,Cry of the Banshee,65597
7453,"[{'id': 211, 'name': 'bureaucracy'}, {'id': 80...","['bureaucracy', 'android', 'basedonnovel', 'ch...",17,"['bureaucracy', 'android', 'basedonnovel', 'ch...","['bureaucracy', 'android', 'basedonnovel', 'ch...",15,The Hitchhiker's Guide to the Galaxy,371724
19971,"[{'id': 293, 'name': 'female nudity'}, {'id': ...","['femalenudity', 'basedonnovel', 'secret', 'ha...",16,"['femalenudity', 'basedonnovel', 'secret', 'ha...","['femalenudity', 'basedonnovel', 'secret', 'ha...",15,The Little Girl Who Lives Down the Lane,74806
28448,"[{'id': 1415, 'name': 'small town'}, {'id': 16...","['smalltown', 'mexicanstandoff', 'dailylife', ...",20,"['smalltown', 'mexicanstandoff', 'dailylife', ...","['independentfilm', 'violence', 'biography', '...",15,Walker,96409
186,"[{'id': 441, 'name': 'assassination'}, {'id': ...","['assassination', 'assassin', 'identity', 'sni...",18,"['assassination', 'assassin', 'identity', 'sni...","['murder', 'assassin', 'assassination', 'fbiag...",15,Lucky Number Slevin,425210

In [4]:
def get_subtitles_by_id(imdbid):

    data = ost.search_subtitles([{'sublanguageid': 'eng','imdbid': imdbid}])

    try:
        first_sub_data = data[0]
        id_subtitle_file = first_sub_data.get('IDSubtitleFile')
        moviename = first_sub_data.get('MovieName')
        downloaded = ost.download_subtitles([id_subtitle_file], 
                                output_directory='/home/eva/Diploma/os/',
                                override_filenames={id_subtitle_file:f'{imdbid}.srt'})

        if downloaded is None:
            print(f'Subs for {moviename}, imdb_id {imdbid} not dloaded')
            moviename, first_sub_data, downloaded = 'NONNEE', 'NONNE', 'NONNE'

    except:
        print(f'While dloading subs for imdb_id {imdbid} I got error')
        moviename, first_sub_data, downloaded = 'ERROR', 'ERROR', 'ERROR'
    
    return moviename, first_sub_data, downloaded

In [5]:
def get_subtitles_by_list(imdbidlist):

    df = pd.DataFrame(columns=['moviename', 'data','file'])

    current_date = str.replace(str(date.today()), '-', '_')
    current_time = time.strftime('%H_%M_%S', time.localtime())
    temporal_txt_path = 'fil_sub_download_temp_file_' + \
        current_date + '_' + current_time + '.csv'

    for imdbid in tqdm(imdbidlist):

        moviename, first_sub_data, downloaded = get_subtitles_by_id(imdbid)
        new_row = pd.DataFrame({'moviename':moviename,'data':str(first_sub_data),'file':str(downloaded)}, index=[imdbid])
        df = pd.concat([df.loc[:,:],new_row],)

        with open(temporal_txt_path, 'a') as temp_file:
            temp_file.write(
            ';'.join([str(imdbid), str(moviename), str(first_sub_data), str(downloaded)])+'\n')

        time.sleep(2)

    df.to_csv('fil_sub_download.csv', sep=';')

    return True

In [6]:
ost = OpenSubtitles() 
cred = eval(open('/home/eva/Diploma/moviesdataset/passwords_1.txt').read())
# cred = eval(open('/home/eva/Diploma/moviesdataset/passwords_2.txt').read())
ost.login(cred['login'], cred['password'])

df_sub_skip = pd.read_csv('fil_sub_download_temp_file.csv', sep=';', names=['imdb_id','moviename', 'data','file'])
df_sub_skip = df_sub_skip.astype({'imdb_id': 'int32','moviename': 'string','data': 'object','file': 'object'})
df_sub_skip = df_sub_skip.drop_duplicates(subset='imdb_id')
df_sub_skip = df_sub_skip.reset_index(drop=True)

df_to_sub = pd.read_csv('df_to_sub.csv', sep=';', index_col='id')
# df_to_sub['imdb_id'] = df_to_sub['imdb_id'].apply(lambda x: x.replace('tt',''))
df_to_sub = df_to_sub.astype({'keywords': 'object','title': 'string','imdb_id': 'int32','keywords_len': 'int32'})
df_to_sub = df_to_sub[~df_to_sub.imdb_id.isin(df_sub_skip.imdb_id)]
df_to_sub = df_to_sub.sort_values(by='id')

imdbidlist = df_to_sub.iloc[0:200,:].imdb_id
# imdbidlist = ['80339']

print(f'Subs to load: {len(imdbidlist)}')

get_subtitles_by_list(imdbidlist)

Subs to load: 200

  0%|          | 0/200 [00:00<?, ?it/s]

Subs for Memento, imdb_id 209144 not dloaded
Subs for Nausicaa of the Valley of the Wind, imdb_id 87544 not dloaded
Subs for Las Hurdes, imdb_id 23037 not dloaded
Subs for All About My Mother, imdb_id 185125 not dloaded
Subs for Taxi Driver, imdb_id 75314 not dloaded
Subs for Run Lola Run, imdb_id 130827 not dloaded
Subs for Scarface, imdb_id 86250 not dloaded
Subs for Pretty Woman, imdb_id 100405 not dloaded
Subs for Match Point, imdb_id 416320 not dloaded
Subs for Charlie and the Chocolate Factory, imdb_id 367594 not dloaded
Subs for Princess Mononoke, imdb_id 119698 not dloaded
Subs for Spirited Away, imdb_id 245429 not dloaded
Subs for Bob Dylan: Dont Look Back, imdb_id 61589 not dloaded
Subs for Groundhog Day, imdb_id 107048 not dloaded
Subs for Dracula, imdb_id 21814 not dloaded
Subs for Brokeback Mountain, imdb_id 388795 not dloaded
Subs for All Quiet on the Western Front, imdb_id 20629 not dloaded
Subs for The Secret Life of Words, imdb_id 430576 not dloaded
Subs for Lost in Translation, imdb_id 335266 not dloaded
Subs for Maybe... Maybe Not, imdb_id 109255 not dloaded
Subs for Ocean's Eleven, imdb_id 240772 not dloaded
Subs for Breakfast at Tiffany's, imdb_id 54698 not dloaded
Subs for The Party, imdb_id 82100 not dloaded
Subs for The Party 2, imdb_id 83686 not dloaded
Subs for Star Trek V: The Final Frontier, imdb_id 98382 not dloaded
Subs for The Big Blue, imdb_id 95250 not dloaded
Subs for The Interpreter, imdb_id 373926 not dloaded
Subs for The Good German, imdb_id 452624 not dloaded
Subs for Sin City, imdb_id 401792 not dloaded
Subs for Sin City: A Dame to Kill For, imdb_id 458481 not dloaded
Subs for To Be or Not to Be, imdb_id 35446 not dloaded
Subs for Star Trek: First Contact, imdb_id 117731 not dloaded
Subs for Star Trek: Nemesis, imdb_id 253754 not dloaded
Subs for The Wages of Fear, imdb_id 46268 not dloaded
Subs for Hotel Rwanda, imdb_id 395169 not dloaded
Subs for Berlin Is in Germany, imdb_id 276820 not dloaded
Subs for Arsenic and Old Lace, imdb_id 36613 not dloaded
Subs for North by Northwest, imdb_id 53125 not dloaded
Subs for The Terminator, imdb_id 88247 not dloaded
Subs for Volver, imdb_id 441909 not dloaded
Subs for Syriana, imdb_id 365737 not dloaded
Subs for Stand by Me, imdb_id 92005 not dloaded
Subs for Muriel's Wedding, imdb_id 110598 not dloaded
Subs for Young Adam, imdb_id 289635 not dloaded
Subs for The Godfather, imdb_id 68646 not dloaded
Subs for The Godfather Part II, imdb_id 71562 not dloaded

KeyboardInterrupt: